# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
infra/terraform/terraform.tfvars
infra/terraform/.terraform.lock.hcl

# Build da Lambda
lambda/build/

# Python
__pycache__/
*.pyc
